{% extends "base.html.twig" %}
{% block body %}
    <div class="well">
        <h4>Affectation du matériel</h4>
        <form method="post">
            <div class="form-group">
                <table id="affect_table">
                    <tr>
                        <th>Non affecté</th><th>Affecté</th>
                    </tr>
                    {% for materiel in materiels %}
                    <tr>
                        {% if materiel.idLieu == null %}
                            <td id="row_content_affect">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input"
                                           id="checkButton{{ materiel.idMateriel.idMateriel }}"
                                           name="idMateriel{{ materiel.idMateriel.idMateriel }}"
                                           onclick="verifAffecter()">
                                    <label class="custom-control-label" for="checkButton{{ materiel.idMateriel.idMateriel }}">
                                        {{ materiel.idMateriel.numeroSerie }} {{ materiel.idMateriel.nomMateriel }}
                                    </label>
                                </div>
                            </td>
                            <td></td>
                        {% elseif materiel.idLieu != null %}
                            <td id="row_content_affect"></td>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input"
                                           id="checkButton{{ materiel.idMateriel.idMateriel }}"
                                           name="idMateriel{{ materiel.idMateriel.idMateriel }}"
                                           onclick="verifAffecter()">
                                    <label class="custom-control-label" for="checkButton{{ materiel.idMateriel.idMateriel }}">
                                        {{ materiel.idMateriel.numeroSerie }} {{ materiel.idMateriel.nomMateriel }}
                                        {{ materiel.idLieu.libelleLieu }}
                                    </label>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
                </div>
                <label for="searchLieu">Donnez l'adresse</label>
                <input type="text" id="searchLieu" class="form-control" name="lieu">
                <label for="statut">Statut</label>
                <select id="statut" class="form-control" name="statut">
                    <option value="0">Disponible</option>
                    <option value="1">En production</option>
                    <option value="2">SAV</option>
                    <option value="3">Immobilisé</option>
                </select>
                <button id="affecter" class="btn btn-primary" type="submit">Affecter</button>
        </form>
        <a href="{{ path('Intervention.terminerAffectation',{id : intervention.idIntervention}) }}"
           id="terminer_affectation" class="btn btn-primary">Terminer</a>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        verifAffecter();
        function verifAffecter() {
            var verif = true ;
            var color = "btn btn-secondary";
            {% for materiel in materiels %}
            if (document.getElementById("checkButton{{ materiel.idMateriel.idMateriel }}").checked){
                verif = false ;
                color="btn btn-primary";
            }
            {% endfor %}
            document.getElementById("affecter").disabled = verif;
            document.getElementById("affecter").className = color;
        }



        function decode(str){
            return str.replace(/&#(\d+);/g, function(match, dec) {
                return String.fromCharCode(dec);
            });
        }

        $(function() {
            var list = [];
            var lieu ;
            {% for lieu in lieux %}
            lieu = "{{ lieu.libelleLieu }}";
            list.push(decode(lieu));
            {% endfor %}
            $('#searchLieu').autocomplete({
                source: list
            });
        });
    </script>
{% endblock %}