<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Gestion de Stock</title>
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    <script src="{{ asset('build/js/app.js') }}"></script>
    <script src="../../../library/jQuery.js"></script>
    <script src="../../../library/jQueryUI.js"></script>
    <script src="../../../library/jquery.textcomplete.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-image: url('../../image/image{{ nombre }}.JPG')">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('Home.index') }}" id="image_site"><img src="../../image/LOGO_CD25.png" width="148" height="40"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('Home.index') }}">Accueil</a>
            </li>
            {% if app.user != null %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('Intervention.index') }}">Interventions</a>
            </li>
                {% if app.user.roles|length == 2 %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('Materiel.index') }}">Liste des stocks</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Autre</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('Referent.index') }}">Liste des référents</a>
                            <a class="dropdown-item" href="{{ path('Parametre.index') }}">Paramètres</a>
                            <a class="dropdown-item" href="{{ path('Historique.index') }}">Historique</a>
                            <a class="dropdown-item" href="{{ path('User.index') }}">Gestion des utilisateurs</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('Historique.index') }}">Historique</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if app.user != null %}
                <span class="navbar-text">
                    Bienvenue {{ app.user.username }}
                </span>
            {% endif %}
            <li>
                {% if app.user == null %}
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                {% else %}
                    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
    <h3 id="accueil_text">Accueil</h3>
    <br>
    {% if app.user != null %}
    <div class="container">
        <div class="row">
            {% if app.user.roles|length == 2 %}
            <div class="col">
                <a href="{{ path('Materiel.index') }}" class="btn btn-primary" id="accueil_stock">Gestion des stocks</a>
            </div>
            {% endif %}
            <div class="col">
                <a href="{{ path('Intervention.depart') }}" class="btn btn-primary" id="accueil_depart">Départ en intervention</a>
            </div>
        </div>
        <div class="row">
                {% if app.user.roles|length == 2 %}
            <div class="col"></div>
            {% endif %}
            <div class="col">
                <a href="{{ path('Intervention.retour') }}" class="btn btn-primary" id="accueil_retour">Retour d'intervention</a>
            </div>
        </div>
    </div>
    {% endif %}
</body>


</html>