{% extends "base.html.twig" %}

{% block title %}
	Profile de {{ app.user.fullName }}
{% endblock %}


{% block body %}
	<div class="container">
		<h1 class="h1 my-5">Modification du profil</h1>

		{{ form_start(form) }}

		<div class="row">
			<div class="col">
				<div class="alert alert-light">
					<h2 class="alert-heading text-center">Informations générales</h2>
					<hr>
					{{ form_row(form.username) }}
					{{ form_row(form.nom) }}
					{{ form_row(form.prenom) }}
					{{ form_row(form.mail) }}

					<p>Si vous avez terminé vos modifications vous pouvez les sauvegarder</p>
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-check hvr-icon"></i>
						Enregistrer les modifications
					</button>
				</div>
			</div>
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
