<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Création de compte utilisateur</title>
</head>
<body>
    <h1>Information du compte</h1>


    <ul>
    <li>Nom: {{ nom }} </li>
    <li>Prénom: {{ prenom }} </li>
    <li>Mail: {{ mail }} </li>
    <li>Pseudo: {{ pseudo }} </li>
    <li>Mot de passe: {{ plainPassword }} </li>    
    </ul>
</body>
</html>