{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <br>
        <div class="row">
            <a href="{{ path('Parametre.add',{lib:'Marque'}) }}" class="btn btn-primary" id="param_add">
                <ion-icon name="add-outline"></ion-icon>Ajouter Marque</a>
        </div>
        <br>
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                <tr><th>ID</th><th>Libellé</th><th></th></tr>
                </thead>
                {% for marque in marques %}
                <tbody>
                <tr>
                    <td>{{ marque.idMarque }}</td>
                    <td>{{ marque.libelleMarque }}</td>
                    <td>
                        <a href="{{ path('Parametre.edit',{id : marque.idMarque,lib : 'Marque' }) }}" id="param_button"
                           class="btn btn-primary" title="Modifier"><ion-icon name="create"></ion-icon></a>
                        <a href="{{ path('Parametre.delete',{id : marque.idMarque,lib : 'Marque' }) }}" id="param_button"
                           class="btn btn-danger" title="Supprimer"><ion-icon name="trash"></ion-icon></a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <a href="{{ path('Parametre.add',{lib:'Type'}) }}" class="btn btn-primary" id="param_add">
                <ion-icon name="add-outline"></ion-icon>Ajouter Type</a>
        </div><br>
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                <tr><th>ID</th><th>Libellé</th><th></th></tr>
                </thead>
                {% for type in types %}
                <tbody>
                <tr>
                    <td>{{ type.idType }}</td>
                    <td>{{ type.libelleType }}</td>
                    <td>
                        <a href="{{ path('Parametre.edit',{id : type.idType,lib : 'Type' }) }}" id="param_button"
                           class="btn btn-primary" title="Modifier"><ion-icon name="create"></ion-icon></a>
                        <a href="{{ path('Parametre.delete',{id : type.idType,lib : 'Type' }) }}" id="param_button"
                           class="btn btn-danger" title="Supprimer"><ion-icon name="trash"></ion-icon></a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <a href="{{ path('Parametre.add',{lib:'Specificite'}) }}" class="btn btn-primary" id="param_add">
                <ion-icon name="add-outline"></ion-icon>Ajouter Specificite</a>
        </div><br>
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                <tr><th>ID</th><th>Libellé</th><th></th></tr>
                </thead>
                {% for spec in specificites %}
                <tbody>
                <tr>
                    <td>{{ spec.idSpecificite }}</td>
                    <td>{{ spec.libelleSpe }}</td>
                    <td>
                        <a href="{{ path('Parametre.edit',{id : spec.idSpecificite,lib : 'Specificite' }) }}" id="param_button"
                           class="btn btn-primary" title="Modifier"><ion-icon name="create"></ion-icon></a>
                        <a href="{{ path('Parametre.delete',{id : spec.idSpecificite,lib : 'Specificite' }) }}" id="param_button"
                           class="btn btn-danger" title="Supprimer"><ion-icon name="trash"></ion-icon></a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <a href="{{ path('Parametre.add',{lib:'Lieu'}) }}" class="btn btn-primary" id="param_add">
                <ion-icon name="add-outline"></ion-icon>Ajouter Lieu</a>
        </div><br>
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                <tr><th>ID</th><th>Libellé</th><th></th></tr>
                </thead>
                {% for lieu in lieux %}
                <tbody>
                <tr>
                    <td>{{ lieu.idLieu }}</td>
                    <td>{{ lieu.libelleLieu }}</td>
                    <td>
                        <a href="{{ path('Parametre.edit',{id : lieu.idLieu,lib : 'Lieu' }) }}" id="param_button"
                           class="btn btn-primary" title="Modifier"><ion-icon name="create"></ion-icon></a>
                        <a href="{{ path('Parametre.delete',{id : lieu.idLieu,lib : 'Lieu' }) }}" id="param_button"
                           class="btn btn-danger" title="Supprimer"><ion-icon name="trash"></ion-icon></a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}