{% extends 'base.html.twig' %}

{% block title %}Gestion utilisateurs
{% endblock %}

{% block body %}

	<div class="container-fluid">

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active" aria-current="page">
					<a href="{{ path('AdminDasboard.index') }}">Gestion</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">User</li>
			</ol>
		</nav>

		<h1 class="h1 my-3">Gestions des utilisateurs</h1>
		<a href="{{ path('User.add') }}" class="btn btn-success my-5">
			<i class="fas fa-plus-circle"></i>
		</a>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Email</th>
					<th>Nom complet</th>
					<th>Rôle</th>
					<th class="text-center">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for user in paginator.data %}

					<tr>
						<td>{{ user.idUser }}</td>
						<td>{{ user.mail }}</td>
						<td>{{ user.fullName }}</td>
						<td>{{ user.roles[0]}}</td>
						<td class="text-center">
							<a href="{{ path('User.edit', {'id' : user.idUser}) }}" class="btn btn-primary mr-2">
								<i class="fas fa-edit"></i>
							</a>
							<a href="{{ path('User.delete', {'id' : user.idUser}) }}" class="btn btn-danger ml-2">
								<i class="fas fa-trash"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<div class="d-flex justify-content-center">
			{% set page = paginator.currentPage %}
			{% set pages = paginator.pages %}

			<ul class="pagination">
				<li class="page-item {% if page == 1 %} disabled {% endif %}">
					<a class="page-link" href="{{ path('AdminUser.index', {'page' : page - 1}) }}">&laquo;</a>
				</li>
				{% for i in 1..pages %}

					<li class="page-item {% if page == i %} active {% endif %}">
						<a class="page-link" href="{{ path('AdminUser.index', {'page' : i}) }}">{{ i }}</a>
					</li>
				{% endfor %}
				<li class="page-item {% if page == pages %} disabled {% endif %}">
					<a class="page-link" href="{{ path('AdminUser.index', {'page' : page + 1}) }}">&raquo;</a>
				</li>
			</ul>
		</div>
	</div>

{% endblock %}
