{% extends "base.html.twig" %}
{% block body %}
<div class="well">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('Intervention.index') }}">Intervention</a></li>
            <li class="breadcrumb-item active" aria-current="page">Départ</li>
        </ol>
    </nav>
    <h4>Départ en intervention</h4>
    <form method="post">
        {% if 'ROLE_PUBLIC' not in app.user.roles %}
        <div class="form-group row">
            <label>Utilisateur identifié</label>
            <div class="col-sm-5">
                <input readonly id="username_input" name="user" type="text"
                       class="form-control form-control"
                       value="{{ app.user.nom }} {{ app.user.prenom }}" autocomplete="off">
            </div>
        </div>
        <p>OU</p>
        {% endif %}
        <div class="form-group row">
            <label>Code barre référent</label>
            <div class="col-sm-5">
                <input id="referent_scanner" name="referent" type="text" class="form-control form-control" autocomplete="off">
            </div>
        </div>
        <p>OU</p>
        <div class="form-group row">
            <select id="single" onchange="changerNom()">
                <option value="0" selected>Choix de l'intervenant</option>
                {% for referent in users %}
                    <option value="{{ referent.idUser }}-{{ referent.nom }}{{ referent.prenom }}">
                        {{ referent.nom }} {{ referent.prenom }}</option>
                {% endfor %}
            </select>
        </div>
        <button id="chercher_referent" class="btn btn-primary" type="submit">Valider</button>
        <br>


    </form>
</div>
{% endblock %}
{% block javascripts %}
    <script>
        new SlimSelect({
            select: '#single'
        });
        document.getElementById('referent_scanner').focus();

        function changerNom() {
            var text = document.getElementById('single').value;
            document.getElementById('referent_scanner').value = text ;
        }
    </script>
{% endblock %}