{% extends "base.html.twig" %}
{% block body %}
    <h4>Liste des utilisateurs</h4>
    <div class="row">
        <a href="{{ path('User.add') }}" class="btn btn-primary" id="addUser">Ajouter</a>
        <a href="{{ path('User.importCSV') }}" id="lirecsv_btn"
           class="btn btn-primary">Importer des utilisateurs</a>
        <a href="{{ path('User.exportCsv') }}" class="btn btn-primary"
           id="btn-csv">Exporter les utilisateurs</a>
    </div>
    <div class="container">
        <div class="table-responsive-sm" id="tabDonnee">
            <table class="table table-sm">
                <thead class="thead-dark">
                <tr><th>Nom</th><th>Prenom</th><th>Mail</th>
                    <th>Roles <ion-icon name="information-circle" data-toggle="tooltip" data-placement="top" id="info_roles"
                       title="USER : Accède uniquement aux interventions || ADMIN : Accès à tous le site"></ion-icon></th>
                    <th>Code barre</th><th id="editdelete"></th></tr>
                </thead>
                <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.mail }}</td>
                    <td>
                        {% for role in user.roles %}
                        {{ role }}
                        <br>
                        {% endfor %}
                    </td>
                    <td>
                        <img id="barcode{{ user.idUser }}" height="80px"/>
                    </td>
                    <td>
                        <a href="{{ path('User.edit',{id : user.idUser }) }}"
                           class="btn btn-primary" id="updateUser"><ion-icon name="create"></ion-icon></a>
                        <a href="{{ path('User.delete',{id : user.idUser }) }}"
                           class="btn btn-danger" id="deleteUser">
                            <ion-icon name="trash"></ion-icon></a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip({
                placement : 'top'
            });
        });
        generate();
        function sansAccent(mot) {
            var accent = [
                /[\300-\306]/g, /[\340-\346]/g, // A, a
                /[\310-\313]/g, /[\350-\353]/g, // E, e
                /[\314-\317]/g, /[\354-\357]/g, // I, i
                /[\322-\330]/g, /[\362-\370]/g, // O, o
                /[\331-\334]/g, /[\371-\374]/g, // U, u
                /[\321]/g, /[\361]/g, // N, n
                /[\307]/g, /[\347]/g, // C, c
            ];
            var noaccent = ['A','a','E','e','I','i','O','o','U','u','N','n','C','c'];
            var str = mot ;
            for (var i = 0 ; i < accent.length ; i++){
                str = str.replace(accent[i],noaccent[i]);
            }
            return str ;
        }
        function generate(){
            var code ;
            {% for user in users %}
            code = '{{ user.idUser }}-{{ user.nom }}{{ user.prenom }}'
            code = sansAccent(code);
            JsBarcode('#barcode{{ user.idUser }}',code);
            {% endfor %}
        }
    </script>
{% endblock %}