{# NavBar #}
{# <nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="{{ path('Home.index') }}" id="image_site"><img src="../../image/LOGO_CD25.png" width="148" height="40"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="navbar-collapse collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{ path('Home.index') }}">
					<ion-icon name="home-outline" id="accueil_button"></ion-icon>
				</a>
			</li>
			{% if app.user != null %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('Intervention.index') }}">Interventions</a>
				</li>
				{% if app.user.roles|length == 2 %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('Materiel.index') }}">Stock</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('Historique.index') }}">Historique</a>
					</li>
				{% endif %}
			{% endif %}
		</ul>
		<ul class="nav navbar-nav navbar-right">
			{% if app.user != null %}
				<span class="navbar-text">
					<ion-icon name="person-circle-outline"></ion-icon>
					{{ app.user.nom }}
					{{ app.user.prenom }}
				</span>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<ion-icon name="menu-outline" id="menuOpen"></ion-icon>
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{{ path('Historique.index') }}">Liste des interventions</a>
						{% if app.user != null %}
							{% if app.user.roles|length == 2 %}
								<a class="dropdown-item" href="{{ path('Parametre.index') }}">Paramètres avancés</a>
								<a class="dropdown-item" href="{{ path('User.index') }}">Gestion des utilisateurs</a>
								<a class="dropdown-item" href="{{ path('Home.exportAll') }}">Exporter tout</a>
							{% endif %}
						{% endif %}
						<a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
					</div>
				</li>
			</ul>
		{% endif %}
	</div>
</nav> #}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{{ path('Home.index') }}" id="image_site"><img src="../../image/LOGO_CD25.png" width="148" height="40"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

 <div class="navbar-collapse collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{ path('Home.index') }}">
					<ion-icon name="home-outline" id="accueil_button"></ion-icon>
				</a>
			</li>
			{% if app.user != null %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('Intervention.index') }}">Interventions</a>
				</li>
				{% if app.user.roles|length == 2 %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('Materiel.index') }}">Stock</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('Historique.index') }}">Historique</a>
					</li>
				{% endif %}
			{% endif %}
		</ul>
		<ul class="nav navbar-nav navbar-right">
			{% if app.user != null %}
				<span class="navbar-text">
					<ion-icon name="person-circle-outline"></ion-icon>
					{{ app.user.nom }}
					{{ app.user.prenom }}
				</span>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<ion-icon name="menu-outline" id="menuOpen"></ion-icon>
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{{ path('Historique.index') }}">Liste des interventions</a>
						{% if app.user != null %}
							{% if app.user.roles|length == 2 %}
								<a class="dropdown-item" href="{{ path('Parametre.index') }}">Paramètres avancés</a>
								<a class="dropdown-item" href="{{ path('User.index') }}">Gestion des utilisateurs</a>
								<a class="dropdown-item" href="{{ path('Home.exportAll') }}">Exporter tout</a>
							{% endif %}
						{% endif %}
						<a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
					</div>
				</li>
			</ul>
		{% endif %}
	</div>
</nav>





{# Messages Flash #}
{% for label, messages in app.flashes %}

	<div class="container">
		<div class="alert alert-{{ label }}">
			{% for message in messages %}
				<p>{{ message | raw }}</p>
			{% endfor %}
		</div>
	</div>
{% endfor %}
