{% extends 'base.html.twig' %}

{% block title %}Gestion des statuts
{% endblock %}

{% block body %}

	<div class="container-fluid">

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active" aria-current="page">Statuts</li>
			</ol>
		</nav>

		<h1 class="h1 my-3">Gestions des statuts</h1>
		<a href="{{ path('AdminStatut.add') }}" class="btn btn-success my-5">
			<i class="fas fa-plus-circle"></i>
		</a>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Libellé</th>
					<th class="text-center">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for statut in statuts %}

					<tr>
						<td>{{ statut.idStatut }}</td>
						<td>{{ statut.libelleStatut }}</td>
						<td class="text-center">
							<a href="{{ path('AdminStatut.edit', {'id' : statut.idStatut}) }}" class="btn btn-primary mr-2">
								<i class="fas fa-edit"></i>
							</a>
							<a href="{{ path('AdminStatut.delete', {'id' : statut.idStatut}) }}" class="btn btn-danger ml-2">
								<i class="fas fa-trash"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>

		</table>
	</div>

{% endblock %}
