{% extends "base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block body %}

	{% if app.user != null %}
		<div class="container">
			<div class="row">
				{% if app.user.roles|length == 2 %}
					<div class="col">
						<a href="{{ path('Materiel.index') }}" class="btn btn-primary" id="accueil_stock">Gestion du stock</a>
					</div>
				{% endif %}
				<div class="col">
					<a href="{{ path('Intervention.depart') }}" class="btn btn-primary" id="accueil_depart">Départ en intervention</a>
				</div>
			</div>
			<div class="row">
				{% if app.user.roles|length == 2 %}
					<div class="col"></div>
				{% endif %}
				<div class="col">
					<a href="{{ path('Intervention.retour') }}" class="btn btn-primary" id="accueil_retour">Retour d'intervention</a>
				</div>
			</div>
		</div>
	{% else %}
		<div class="container" id="form_login">
			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						Vous êtes authentifié sous
						{{ app.user.username }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}

				<h1 style="color: black;" class="h3 mb-3 font-weight-normal">Merci de vous identifier afin d'accéder au site</h1>
				<div class="form-group row">
					<label for="inputUsername">Pseudo</label>
					<div class="col-sm-10">
						<input type="text" placeholder="Entrez un pseudo" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="off" required autofocus>
					</div>
				</div>
				<div class="form-group row">
					<label for="inputPassword">Mot de passe</label>
					<div class="col-sm-10">
						<input type="password" name="password" id="inputPassword" class="form-control" required placeholder="Entrez votre mot de passe">
					</div>
				</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<button class="btn btn-lg btn-primary" type="submit" id="sign_in">
					Se connecter
				</button>
			</form>
		</div>
	{% endif %}


{% endblock %}

