{% extends "base.html.twig" %}
{% block body %}
    <h3>Nouveau Référent</h3>

    <div class="well">
        <a data-target="{{ path('Home.goBack',{lib : 'Referent', id : -1}) }}"
           data-tooltip="retour" id="retourArriere"
           class="tooltipped modal-trigger btn btn-danger"
           href="#modal1">Retour</a>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_label(form.nom,"Nom",{'label_attr' : {'class': 'control-label'}}) }}
        {{ form_widget(form.nom,{'attr': {'class': 'form-control','autocomplete' : 'off'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.prenom,"Prenom",{'label_attr' : {'class': 'control-label'}}) }}
        {{ form_widget(form.prenom,{'attr': {'class': 'form-control','autocomplete' : 'off'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.equipe,"Equipe",{'label_attr' : {'class': 'control-label'}}) }}
        {{ form_widget(form.equipe,{'attr': {'class': 'form-control','autocomplete' : 'off'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.mailEquipe,"Mail equipe",{'label_attr' : {'class': 'control-label'}}) }}
        {{ form_widget(form.mailEquipe,{'attr': {'class': 'form-control','autocomplete' : 'off'}}) }}
    </div>
        {{ form_widget(form.ajouter, {'attr': {'class': 'btn btn-primary'}}) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
    <div id="modal1" class="modal">
        <div class="modal-content">


        </div>
        <div class="modal-footer">

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('.modal-trigger').click(function () {
                $('.modal').modal();
                url = $(this).attr('data-target');
                $.get(url, function (data) {
                    $('.modal-content').html(data);
                    $('#modal1').modal('open');
                });
            })
        });
    </script>
{% endblock %}
