<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Gestion de Stock{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.26.0/slimselect.min.css" rel="stylesheet"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
        {% endblock %}
       
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('Home.index') }}" id="image_site"><img src="../../../image/LOGO_CD25.png" width="148" height="40"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('Home.index') }}"><ion-icon name="home-outline" id="accueil_button"></ion-icon></a>
                    </li>
                    {% if app.user != null %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('Intervention.index') }}">Interventions</a>
                    </li>
                    {% if app.user.roles|length == 2 %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('Materiel.index') }}">Stock</a>
                        </li>
                    {% endif %}
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user != null %}
                        <span class="navbar-text">
                            <ion-icon name="person-circle-outline"></ion-icon> {{ app.user.nom }} {{ app.user.prenom }}
                        </span>
                    {% endif %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><ion-icon name="menu-outline" id="menuOpen"></ion-icon></a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ path('Historique.index') }}">Liste des interventions</a>
                                    {% if app.user != null %}
                                    {% if app.user.roles|length == 2 %}
                                    <a class="dropdown-item" href="{{ path('Parametre.index') }}">Paramètres avancés</a>
                                    <a class="dropdown-item" href="{{ path('User.index') }}">Gestion des utilisateurs</a>
                                    <a class="dropdown-item" href="{{ path('Home.exportAll') }}">Exporter tout</a>
                                    {% endif %}
                                    {% endif %}
                                    <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            </li>
                </ul>
            </div>

        </nav>
      {% for label, messages in app.flashes %}

	        <div class="container">
		        <div class="alert alert-{{ label }}">
			    {% for message in messages %}
				    <p>{{ message | raw }}</p>
			    {% endfor %}
		        </div>
	        </div>
        {% endfor %}

        {% block body %}
        {% endblock %}
        {% block javascripts %}
            <script>
                $('.collapse').collapse();
                $('.dropdown-toggle').dropdown();
            </script>
        {% endblock %}
         <script src="../../../library/jSBarcode.all.js"></script>
        <script src="../../../library/jQuery.js"></script>
        <script src="../../../library/jQueryUI.js"></script>
        <script src="../../../library/jquery.textcomplete.js"></script>
        <script src="{{ asset('build/js/app.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.26.0/slimselect.min.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css"/>

        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>
    </body>
</html>
